* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
    font-weight: normal;
}

h1 {
    font-size: 50px;
    color:white;
}

h2 {
    font-size: 21px;
    color: gray;
}

h3 {
    color: aquamarine;
    font-size: 16px;
}

footer {
    color: gray;
    text-align: right;
}

#camping {
    flex-wrap: wrap;
}

#phone {
    flex: auto;
    flex-wrap: wrap;
}