* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}

h1 {
    font-size: 50px;
    color:white;
    font-weight: normal;

}

h3 {
    color: aquamarine;
}